 <section id="about" class="about bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Who is Stoyan Shivarov?</h2>
                {{!-- <img src="img/portfolio-img.png" alt="portfolio image" height="42" width="42"> --}}
                <p class="lead">
                    Stoyan loves combining scinse and technology. 
                </p>
            </div>
        </div>
    </div>
</section>