{{!-- Animations --}}
<section id="animation" class="portfolio">
    <div class="container">
        <div class="col-lg-10 col-lg-offset-1 text-center">
          <h2>Animation</h2>
          <hr class="small">
            <div class="row">
              <div class="col-md-6">
                  <div class="video">
                    <iframe width="450" height="253" src="https://www.youtube.com/embed/HHb4kGgmdLU" frameborder="0" allowfullscreen></iframe>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="video">
                    <iframe width="450" height="253" src="https://www.youtube.com/embed/dHEU2-qyhPA" frameborder="0" allowfullscreen></iframe>
                  </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-6">
                  <div class="video">
                    <iframe src="https://player.vimeo.com/video/51238498" width="450" height="253" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="video">
                    <iframe src="https://player.vimeo.com/video/51238297" width="450" height="253" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                  </div>
              </div>
            </div>

           <div class="row">
            <div class="col-md-6">
                <div class="video">
                  <iframe src="https://player.vimeo.com/video/152848455" width="450" height="253" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-6">
                <div class="video">
                  <iframe src="https://player.vimeo.com/video/96853619" width="450" height="253" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
          </div>

        </div>
      </div>
    </div>
</section>

