 <!-- Footer -->
<footer class="footer-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2><strong>Contact Me</strong>
                </h2>
                <ul class="list-unstyled">
                    <li><i class="fa fa-phone fa-fw"></i> (305) 890-2590</li>
                    <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:sding491@gmail.com">ss100yan@gmail.com</a>
                    </li>
                </ul>
                <br>
                <ul class="list-inline">
                    <li>
                       <a href="https://www.facebook.com/stoyan.shivarov" target="_blank"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="https://github.com/ss100yan" target="_blank"><i class="fa fa-github fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                       <a href="https://www.instagram.com/stoyanshivarov/" target="_blank"><i class="fa fa-instagram fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/stoyan-shivarov-990b92173/" target="_blank"><i class="fa fa-linkedin fa-fw fa-3x"></i></a>
                    </li>
                </ul>
                <hr class="small">
                <p class="text-muted">Copyright &copy; Stoyan Shivarov 2019</p>
            </div>
        </div>
    </div>
    <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
</footer>