 <section id="about" class="about bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h4>"A creative man is motivated by the desire to achieve, not by the desire to beat others."</h4>
                <h4> - Ayn Rand </h4>
            </div>
        </div>
    </div>
</section>