<!-- Websites -->
<section id="websites-built" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
              <h2>Websites Built</h2>
              <hr class="small">

              <div class="row">
                <div class="col-md-4">
                    <div class="portfolio-item">
                        <a href="http://intdesign.herokuapp.com/" target="_blank">
                            <img class="img-portfolio img-responsive" src="img/websites/INT.png">
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="portfolio-item">
                        <a href="https://adrielalvarez.github.io/ASP-INC/" target="_blank">
                            <img class="img-portfolio img-responsive" src="img/websites/STAR.png">
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="portfolio-item">
                        <a href="https://ss100yan.github.io/HW_GIPHY_API/" target="_blank">
                            <img class="img-portfolio img-responsive" src="img/websites/GPHY.png">
                        </a>
                    </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                    <div class="portfolio-item">
                        <a href="https://ss100yan.github.io/Word-Guess-Game/" target="_blank">
                            <img class="img-portfolio img-responsive" src="img/websites/GUESS.png">
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="portfolio-item">
                        <a href="https://ss100yan.github.io/unit-4-game/" target="_blank">
                            <img class="img-portfolio img-responsive" src="img/websites/CSTL.png">
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="portfolio-item">
                        <a href="https://ss100yan.github.io/TriviaGame/" target="_blank">
                            <img class="img-portfolio img-responsive" src="img/websites/Trivia.png">
                        </a>
                    </div>
                </div>
              </div>

          </div>
        </div>
      </div>
    </div>
</section>


